@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
    body{
       background-color: palevioletred;
            font-family: 'Fjalla One', sans-serif;

    }
    .main
{
    margin:0 auto;
    text-align: center;

}
 .header{
    text-align: center;
    font-weight: bolder;
        text-align:center;
        color:white;
        font-size:3rem;
        padding:2rem;
}
    label{
        color:white;
        margin-left:5rem;
        font-size:large;
        font-weight: bolder;
        padding:1rem;
        
    }
    input{
        
    }
    #display{
        color:white;
        font-size:xx-large;
      
padding:3rem;
        text-align:center;
       
     
    }
    #ballon{
        bottom:0rem;
        margin-top:5rem;
        font-size:xx-large;
        text-align:center;
    }